---
import { getCollection } from "astro:content";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import CoursePageLink from "../components/CoursePageLink.astro";

const courses = await getCollection("courses");
courses.sort((a, b) => a.id.localeCompare(b.id));
---

<StarlightPage
  frontmatter={{
    next: false,
    pagefind: false,
    prev: false,
    tableOfContents: false,
    title: "Home",
  }}
>
  <p>Welcome to my collection of course notes!</p>

  <p>
    These are my notes from the Information, Communications and Electronics (ICE) engineering program at the University
    of Trento. I am currently in my second year.
  </p>

  <p>
    Most of the initial courses are in Italian, but later on I will attend English lessons. I will keep the notes in
    their original language to avoid introducing errors from translation.
  </p>

  <h2>Contributing</h2>

  <p>
    If you find any errors or have suggestions for improvements, please contribute! Submit corrections via
    <a href="https://git.zarantonello.dev/university/notes">Git</a>. To get access, send me an email to request an
    account.
  </p>

  <h2>Courses</h2>

  <ul>
    <li>First year, first semester:</li>

    <ul>
      {
        courses
          .filter((c) => c.id.startsWith("1/1"))
          .map((c) => (
            <li>
              <CoursePageLink course={c} />
            </li>
          ))
      }
    </ul>

    <li>First year, second semester:</li>

    <ul>
      {
        courses
          .filter((c) => c.id.startsWith("1/2"))
          .map((c) => (
            <li>
              <CoursePageLink course={c} />
            </li>
          ))
      }
    </ul>

    <li>Second year, first semester:</li>

    <ul>
      {
        courses
          .filter((c) => c.id.startsWith("2/1"))
          .map((c) => (
            <li>
              <CoursePageLink course={c} />
            </li>
          ))
      }
    </ul>

    <li>Second year, second semester:</li>

    <ul>
      {
        courses
          .filter((c) => c.id.startsWith("2/2"))
          .map((c) => (
            <li>
              <CoursePageLink course={c} />
            </li>
          ))
      }
    </ul>
  </ul>
</StarlightPage>
