---
import type { CollectionEntry } from "astro:content";

export interface Props {
  course: CollectionEntry<"courses">;
}

const { course } = Astro.props;
---

<a href={`/${course.id.substring(0, course.id.lastIndexOf("/"))}`}>{course.data.name}</a>
<span>[{course.data.code}]</span>
